{% extends "admin/base.html.twig" %}

{% block title %}User Index{% endblock %}
{% block bodyTitle %}User Index{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Users</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive dt-responsive">
                        <table class="table table-bordered datatable">
                            <thead>
                            <tr>
                                <th>EMAIL</th>
                                <th>NICKNAME</th>
                                <th class="text-center" data-orderable="false">APPROVAL BADGE</th>
                                <th class="text-center" data-orderable="false">BUSINESS</th>
                                <th class="text-center" data-orderable="false">ACTIONS</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.nickname }}</td>
                                    <td class="text-center">{{ user.approvalbadge ? '<i class="ti ti-checks fw-semibold text-success"></i>' : '--' }}</td>
                                    <td class="text-center">{{ user.hasbusiness ? '<i class="ti ti-checks fw-semibold text-success"></i>' : '--' }}</td>
                                    <td class="text-center">
                                        <ul class="list-inline me-auto mb-0">
                                            <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" aria-label="View" data-bs-original-title="View">
                                                <a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="avtar avtar-xs btn-link-secondary btn-pc-default">
                                                    <i class="ti ti-eye f-18"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item align-bottom" data-bs-toggle="tooltip" aria-label="Edit" data-bs-original-title="Edit">
                                                <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="avtar avtar-xs btn-link-success btn-pc-default">
                                                    <i class="ti ti-edit-circle f-18"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">No records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-end">
                    <a class="btn btn-primary" href="{{ path('app_admin_user_new') }}">Create New</a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
