{% extends "admin/base.html.twig" %}

{% block title %}User Details {% endblock %}
{% block bodyTitle %}User Details {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">User Details</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive dt-responsive">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>ID</th>
                                <td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Roles</th>

                                <td>
                                     {% for role in user.roles %}
                                        {{ role }}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Account Name</th>

                                <td>
                                    {{ user.accountname }}
                                </td>
                            </tr>
                            <tr>
                                <th>Nickname</th>

                                <td>
                                    {{ user.nickname }}
                                </td>
                            </tr>
                            <tr>
                                <th>Created At</th>
                                <td>{{ user.createdAt ? user.createdAt|date(shared.defaultDatetimeFormat) : '' }}</td>
                            </tr>
                            <tr>
                                <th>Approval Badge</th>
                                <td>{{ user.approvalbadge ? '<i class="ti ti-checks fw-semibold text-success"></i>' : '--' }}</td>
                            </tr>
                            <tr>
                                <th>Has Business</th>
                                <td>{{ user.hasbusiness ? '<i class="ti ti-checks fw-semibold text-success"></i>' : '--' }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a class="btn btn-secondary" href="{{ path('app_admin_user_index') }}">Back to List</a>
                    <a class="btn btn-primary" href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Edit</a>
                    {{ include('admin/user/_delete_form.html.twig') }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
