{% extends 'admin/base.html.twig' %}

{% block title %} {{ "app.admin.crud.edit"|trans }} {{ "app.admin.crud.landingslide"|trans }}{% endblock %}
{% block bodyTitle %} {{ "app.admin.crud.edit"|trans }} {{ "app.admin.crud.landingslide"|trans }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        {{ "app.admin.crud.edit"|trans }} {{ "app.admin.crud.landingslide"|trans }}
                    </h5>
                </div>
                <div class="card-body">
                    {{ include('admin/landing_slide/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a class="btn btn-secondary" href="{{ path('app_admin_landing_slide_index') }}"> {{ "app.admin.crud.backtolist"|trans }}</a>
                    {{ include('admin/landing_slide/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

