{% extends 'admin/base.html.twig' %}

{% block title %}{{ "app.admin.crud.edit"|trans }} {{ "app.admin.crud.systemlog"|trans }}{% endblock %}
{% block bodyTitle %}{{ "app.admin.crud.edit"|trans }} {{ "app.admin.crud.systemlog"|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        {{ "app.admin.crud.systemlog"|trans }}
                    </h5>
                </div>
                <div class="card-body">
                    {{ include('admin/system_log/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
                <div class="card-footer d-flex justify-content-between">

                    <a class="btn btn-secondary" href="{{ path('app_admin_system_log_index') }}">{{ "app.admin.crud.backtolist"|trans }}</a>
                    {{ include('admin/system_log/_delete_form.html.twig') }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
