{% extends 'admin/base.html.twig' %}

{% block title %}{{ "app.admin.crud.app.policy"|trans }} {{ "app.admin.crud.details"|trans }}{% endblock %}
{% block bodyTitle %}{{ "app.admin.crud.app.policy"|trans }} {{ "app.admin.crud.details"|trans }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        {{ "app.admin.crud.app.policy"|trans }} {{ "app.admin.crud.details"|trans }}
                    </h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>{{ "app.admin.crud.keyname"|trans|caseupper }}</th>
                            <td>{{ app_policy.keyname }}</td>
                        </tr>
                        <tr>
                            <th>{{ "app.admin.crud.name"|trans|caseupper }}</th>
                            <td>{{ app_policy.name }}</td>
                        </tr>
                        <tr>
                            <th>{{ "app.admin.crud.content"|trans|caseupper }}</th>
                            <td>{{ app_policy.content }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a class="btn btn-secondary" href="{{ path('app_admin_policy_index') }}">{{ "app.admin.crud.backtolist"|trans }}</a>

                    <a class="btn btn-primary" href="{{ path('app_admin_policy_edit', {'id': app_policy.id}) }}">{{ "app.admin.crud.edit"|trans }}</a>

                    {{ include('admin/app_policy/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
