{% extends 'admin/auth/base.html.twig' %}

{% block title %}Administration Signin{% endblock %}

{% block body %}


    <div class="card my-5">
        <div class="card-body">

            <form method="post">
                <div class="text-center">
                    <a href="{{ shared.appBaseURL }}">
                        <img src="{{ asset(shared.appLogo) }}" style="width: 66px; height: 28px;" alt="{{ shared.appTitle }} Logo" />
                    </a>
                </div>

                <h4 class="text-center f-w-500 mb-3 mt-3">Login with your email</h4>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_admin_auth_signout') }}">Logout</a>
                </div>
            {% endif %}

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

                <div class="form-group mb-3">
                    <input type="email" class="form-control" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email Address" autocomplete="email" required autofocus>
                </div>
                <div class="form-group mb-3">
                    <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password" autocomplete="current-password" required>
                </div>

                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>

                <div class="saprator my-3">
                    <span>OR</span>
                </div>

                <div class="text-center">
                    <div class="d-grid my-3">
                        <a href="{{ googleAuthURL }}" type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                            <img src="{{ asset('build/theme/ablepro/images/authentication/google.svg') }}" alt="img">
                            <span> Sign In with Google</span>
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>

{% endblock %}
