{% extends 'admin/auth/base.html.twig' %}

{% block title %}{{ "app.admin.auth.reset.password"|trans }} {{ "app.admin.auth.reset.reset"|trans }} {{ "app.admin.auth.reset.emailsent"|trans }}{% endblock %}

{% block body %}
    <p>
        {{ "app.admin.auth.reset.ifaccountmatch"|trans }}
        {{ "app.admin.auth.reset.expire"|trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>
        {{ "app.admin.auth.reset.ifdontreceive"|trans }}
        <a href="{{ path('app_admin_auth_reset_password_request') }}">{{ "app.admin.auth.reset.tryagain"|trans }}</a>.
    </p>
{% endblock %}