{% extends 'admin/auth/base.html.twig' %}

{% block bodyTitle %}{{ "app.admin.auth.reset.resetyourpassword"|trans }} {% endblock %}
{% block title %}{{ "app.admin.auth.reset.resetyourpassword"|trans }}{% endblock %}

{% block body %}

    <div class="card my-5">
        <div class="card-body">

            <div class="text-center">
                <a href="{{ shared.appBaseURL }}">
                    <img src="{{ asset(shared.appLogo) }}" style="width: 66px; height: 28px;" alt="{{ shared.appTitle }} Logo" />
                </a>
            </div>

            <h4 class="text-center f-w-500 mb-3 mt-3"> {{ "app.admin.auth.reset.loginwithemail"|trans }}</h4>


            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    {{ "app.admin.auth.reset.enterandsend"|trans }}
                </small>
            </div>

            <div class="d-grid mt-4">
                <button type="submit" class="btn btn-primary">{{ "app.admin.auth.reset.send"|trans }} {{ "app.admin.auth.reset.reset"|trans }} {{ "app.admin.auth.reset.email"|trans }}</button>
            </div>


            {{ form_end(requestForm) }}

            {% include 'admin/auth/_or.html.twig' %}

        </div>
    </div>

{% endblock %}