{% extends 'admin/auth/base.html.twig' %}

{% block bodyTitle %}Reset your password{% endblock %}
{% block title %}Reset your password{% endblock %}

{% block body %}

    <div class="card my-5">
        <div class="card-body">

            <div class="text-center">
                <a href="{{ shared.appBaseURL }}">
                    <img src="{{ asset(shared.appLogo) }}" style="width: 66px; height: 28px;" alt="{{ shared.appTitle }} Logo" />
                </a>
            </div>

            <h4 class="text-center f-w-500 mb-3 mt-3">Login with your email</h4>


            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    Enter your email address and we will send you a
                    link to reset your password.
                </small>
            </div>

            <div class="d-grid mt-4">
                <button type="submit" class="btn btn-primary">Send Reset Email</button>
            </div>


            {{ form_end(requestForm) }}

            {% include 'admin/auth/_or.html.twig' %}

        </div>
    </div>



{% endblock %}
