{% extends 'admin/base.html.twig' %}

{% block title %}Documentation{% endblock %}
{% block bodyTitle %}Documentation{% endblock %}


{% block body %}

    <div class="row">
        <div class="col-lg-3">
            <div class="list-group" id="list-tab" role="tablist">
                {% for d in documentation %}
                <a class="list-group-item list-group-item-action {% if loop.first %}active{% endif %}"
                   id="list-{{ d.sha }}-list"
                   {% if d.type is same as("file") %}data-bs-toggle="tab"{% endif %}
                   {% if d.type is same as("file") %}href="#list-{{ d.sha }}"{% endif %}
                   {% if d.type is same as("dir") %}href="?docpath={{ d.name }}"{% endif %}
                   {% if d.type is same as("file") %}role="tab"{% endif %}
                   aria-controls="list-{{ d.sha }}">
                    <div class="d-flex justify-content-between">
                        <span>
                            {{ d.name }}
                        </span>
                        <span>
                            {% if d.type is same as("file") %}
                                <i class="ti ti-markdown"></i>
                            {% endif %}
                            {% if d.type is same as("folder") %}
                                <i class="ti ti-chevron-right"></i>
                            {% endif %}
                        </span>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-9">
            <div class="tab-content" id="nav-tabContent">
                {% for d in documentation %}
                    {% if d.type is same as("file") %}
                    <div class="tab-pane fade show {% if loop.first %}active{% endif %}" id="list-{{ d.sha }}" role="tabpanel" aria-labelledby="list-{{ d.sha }}-list">
                        {% apply markdown_to_html %}
                            {{ d.content|raw }}
                        {% endapply %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}
