{% extends 'admin/base.html.twig' %}

{% block title %}Documentation{% endblock %}
{% block bodyTitle %}Documentation{% endblock %}


{% block body %}

<div class="row">
    <div class="col-lg-9">
        <div class="card">
            <div class="card-body">
                {% for d in documentation %}
                    {% if d.type is same as("file") %}
                        <div class="collapse multi-collapse" id="collapse{{ d.sha }}">
                            {% apply markdown_to_html %}
                                {{ d.content|raw }}
                            {% endapply %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Content Navigator</h5>
            </div>
            <div class="card-body">
                <div class="d-grid gap-2">
                    {% for d in documentation %}
                    <a class="btn btn-link-secondary acollapsetrigger" data-bs-toggle="collapse" href="#collapse{{ d.sha }}" >
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                {% if d.type is same as("file") %}
                                    <i class="ti ti-markdown"></i>
                                {% endif %}

                                {% if d.type is same as("dir") %}
                                    <i class="ti ti-folder"></i>
                                {% endif %}
                            </div>
                            <div class="flex-grow-1 mx-2">
                                <p class="mb-0 d-grid text-start">
                                    <span class="text-truncate w-100">{{ d.name }}</span>
                                </p>
                            </div>
                            {% if d.type is same as("file") %}
                                <div class="badge bg-light-secondary f-12">{{ d.size }} kb</div>
                            {% endif %}
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <div class="d-grid mt-3">
                    <button class="btn btn-primary d-flex align-items-center justify-content-center"><i class="ti ti-git-pull-request"></i> </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
