{% extends 'admin/base.html.twig' %}

{% block title %}{{ "app.admin.dashboard"|trans }}{% endblock %}
{% block bodyTitle %}{{ "app.admin.dashboard"|trans }}{% endblock %}


{% block body %}

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-1">0</h3>
                            <p class="text-muted mb-0">{{ "app.admin.dashboard.pageviews"|trans }}</p>
                        </div>
                        <div class="col-4 text-end">
                            <i class="ti ti-device-analytics text-secondary f-36"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-1">0</h3>
                            <p class="text-muted mb-0">{{ "app.admin.dashboard.registered"|trans }} {{ "app.admin.dashboard.users"|trans }}</p>
                        </div>
                        <div class="col-4 text-end">
                            <i class="ti ti-user-plus text-danger f-36"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-1">0</h3>
                            <p class="text-muted mb-0">{{ "app.admin.dashboard.registered"|trans }} {{ "app.admin.dashboard.businesses"|trans }}</p>
                        </div>
                        <div class="col-4 text-end">
                            <i class="ti ti-building-skyscraper text-success f-36"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-1">0</h3>
                            <p class="text-muted mb-0">{{ "app.admin.dashboard.networktraffic"|trans }}</p>
                        </div>
                        <div class="col-4 text-end">
                            <i class="ti ti-activity text-primary f-36"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}